html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 2rem auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
    margin: 1rem 0 5rem 0;
    padding: 0%;
}
footer li{
    display: inline-block;
    margin-right: -1%;
    margin-top: -10rem;
    padding: 0%;
}
footer ul{
    padding: 0%;
    margin: 0%;
}
header{
    display: flex;
}
.rightheader{
    flex-basis: 60%;
}
h1{
    color: #DA0090;
    font-weight: bold;
    margin-top: 4rem;
    font-size: 55px;
    margin-bottom: -1.25rem;
}
.leftheader{
    margin-right: 1.0rem;
    flex-basis: 40%;
}
nav ul li{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-left: 1.25rem;
    font-size: 1rem;
}
nav{
    border-top: rgb(235, 119, 138) double 1px;
    border-bottom: brown double 1px;
}
ul{
    justify-content: center;
    margin: 0;
    padding: 0%;
    text-align: center;
}
.floatright{
    float: right;
}
footer p{
    margin-top: 0.25rem;
}
article img{
    border-radius: 5%;
    float: left;
}
article{
    margin: 25px;
    margin-bottom: 60px;
}
img{
    margin-right: 20px;
}
article::after {
    content: "";
    clear: both;
    display: table;
}
article a{
    color: rgb(216, 111, 111);
}
.topborder{
    border-top: rgb(216, 111, 111) 1.5px solid;
    padding: 2rem;
}
.bottomborder{
    border: rgb(216, 111, 111) 1.5px solid;
}